
@{
    ViewData["Title"] = "About";
}

<h1>About me</h1>

<p>My misssion is to help people to organize their work/life with structured list of assignments. </p>
<br />

<p>My name is Yaroslav Yatsyk, and I am fresh graduate of Computer Programming &amp; Analysis program, George Brown College. </p>
<br />

<p>I created this app to improve my coding skills as Software Developer in .NET ecosystem.</p>

<p>All rights are reserved!</p>

<br />

<br />

<p></p>